<div id="particles-js">
  <div class="header">
      <h1>
        <img class="logo" src="{{ site.logo | relative_url }}" />  
        <span class="site-title">{{site.title}}</span>
        <span class="site-description">{{site.description}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Twitter" target="_blank" href="https://twitter.com/{{site.twitter}}"><i class="icon fab fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="GitHub" target="_blank" href="https://github.com/{{site.github}}"><i class="icon fab fa-github-alt" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#content" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
